@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body{
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    font-family: 'Lilita One', cursive;
}

.menu{
    width: 100%;
    height: 100vh;
    background-color: #015958;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boxtitre{
    height: 40%;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.box-filliere{
    height: 50%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boutton{
    height: 20%;
    width: 40%;
    border: none;
    cursor: pointer;
    background-color: #D8FFDB;
    font-family: 'Lilita One', cursive;
    font-size: 2.3vw;
    border-radius: 15px;
}