.connexion-main{
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.connexion-box{
    background-color: white;
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.connexion-gauche{
    background-color: #015958;
    width: 45%;
    border-radius: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.connexion-textebox-gauche{

    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.connexion-texte1-gauche{
    font-size: 2vw;
    color: white;
}

.connexion-texte2-gauche{
    font-size: 1.3vw;
    color: white;
}

.connexion-boutton-gauche{
    border-style:none ;
    height: 12%;
    width: 50%;
    border-radius: 10px;
    background-color: #FF9D0B;
    color: white;
    font-size: 1.34vw;
    font-family: 'Lilita One', cursive;
}


.connexion-box-droite{
    width: 55%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.connexion-box-input{
    
    height: 60vh;
    margin-top: 25%;
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.connexion-input{
    background-color: #E1E1E1;
    border-style:none ;
   
    height: 10%;
    width: 100%;
    border-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connexion-texte-droite{
    margin-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    
}


.connexion-bouton-droite{
    background-color: #FF9D0B;
    font-family: 'Lilita One', cursive;
    height: 10%;
    width: 60%;
    border:solid #E1E1E1;
    color: white;
    border-radius: 10px;
    margin-top: 10%;
}