input {
    border: none;
}

body {
    background-color: #015958;
}

input:focus {
    border: none;
    outline: none;
}

.formulaire {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.creer_top {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*PART 1*/

.creer_part1 {
    width: 40%;
    height: 60%;
    background-color: #0159580e;
    border: 5px solid #015958;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.creer_part1_input {
    width: 80%;
    height: 50%;
    margin-top: 5px;
}

.creer_part1_a {
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.creer_part1_b {
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}


/*PART 2*/

.creer_part2 {
    width: 40%;
    height: 80%;
    padding: 0px 15px 0px 15px;
    background-color: #0159581e;
    border: 5px solid #015958;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.creer_liste_eleves {
    background-color: rgba(143, 250, 114, 0.283);
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.creer_student {
    background-color: bisque;
    padding: 7px;
    width: 65%;
    margin-top: 3.75px;
    margin-bottom: 3.75px;
    display: flex;
    justify-content: space-between;
}

.creer_form_add_eleve {
    width: 70%;
    display: flex;
    justify-content: center;
}


/*SUBMIT PART*/

.creer_bottom {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creer_submit_button {
    padding: 10px;
    border: none;
    background-color: #015958;
    color: white;
}

.creer_submit_button:hover {
    background-color: #01413f;
    cursor: pointer;
}


/* List eleve */

.session_created {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
}

.create-session-table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 5px;
}